@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-neutral-secondary: #667085;
  --text-neutral-primary: #344054;
  --gray-900: #101828; /* Gray/900 color */
  --color-gray-101828: #101828; /* For #101828 as a background color */
  --color-gray-neutral-500: #667085;
  --color-gray-neutral-900: #101828;
  --color-gray-500: #667085;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey: #eae8e8;

  --color-purple-50A: #fbf6fd;
  --color-purple-50: #fcf5fe;
  --color-purple-100A: #efd4f8;
  --color-purple-100: #f9eafd;
  --color-purple-200A: #efb8f1;
  --color-purple-200: #f2d4fa;
  --color-purple-300A: #d39de7;
  --color-purple-300: #ebb3f4;
  --color-purple-400A: #d18fe3;
  --color-purple-400: #e085ed;
  --color-purple-500A: #ba64d1;
  --color-purple-500: #ce57de;
  --color-purple-600A: #9f44b5;
  --color-purple-600: #b437c2;
  --color-purple-700A: #7c328b;
  --color-purple-700: #972aa1;
  --color-purple-800A: #6f2e7a;
  --color-purple-800: #892890;
  --color-purple-900A: #5d2a65;
  --color-purple-900: #69236c;

  --color-gold-50: #fdf8ed;
  --color-gold-100: #f9eccc;
  --color-gold-200: #f4d793;
  --color-gold-300: #eebd5b;
  --color-gold-400: #e8a029;
  --color-gold-500: #f59c00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* TYPEFACE */
.display-heading {
  font-family: var(--font-manrope);
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.02em;
  color: var(--text-neutral-primary, #667085);
}

.supporting-text {
  font-family: var(--font-manrope);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0;
  color: var(--text-neutral-secondary, #667085);
}

.headline-lg-bold {
  font-family: var(--font-manrope);
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.02em;
  color: var(--gray-900);
}

.text-sample {
  font-family: var(--font-pt-sans);
  font-weight: 700;
  font-size: 112px;
  line-height: 100%;
  letter-spacing: 0px;
}

.text-specimen {
  font-family: var(--font-pt-sans);
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.96px;
  color: var(--color-gray-900);
}

/* COLORS */
.bg-purple-800 {
  background-color: var(--color-purple-800);
}

.color-purple-800 {
  color: var(--color-purple-800);
}

.color-gold-400 {
  color: var(--color-gold-400);
}

/* HEADLINE */
.headline {
  font-family: var(--font-manrope);
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -1.2px;
  color: var(--text-neutral-primary);
}

.headline-2xl {
  font-family: var(--font-pt-sans-caption);
  font-weight: 400;
  font-size: 72px;
  line-height: 90px;
  letter-spacing: 0;
  color: var(--color-gray-neutral-900);
}

.headline-2xl-bold {
  font-family: var(--font-pt-sans-caption);
  font-weight: 700;
  font-size: 72px;
  line-height: 90px;
  letter-spacing: -1.44px;
  color: var(--color-gray-neutral-900);
}

.headline-3xl-bold {
  font-family: var(--font-pt-sans);
  font-weight: 700;
  font-size: 112px;
  line-height: 112px;
  letter-spacing: 0;
  color: var(--color-gray-neutral-900);
}

.headline-xl {
  font-family: var(--font-pt-sans);
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -1.2px;
  color: var(--color-gray-neutral-900);
}

.headline-xl-bold {
  font-family: var(--font-pt-sans);
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -1.2px;
  color: var(--color-gray-neutral-900);
}

.headline-lg {
  font-family: var(--font-pt-sans);
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.96px;
  color: var(--color-gray-neutral-900);
}

.headline-lg-pts-c {
  font-family: var(--font-pt-sans-caption);
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.96px;
  color: var(--color-gray-neutral-900);
}

.headline-lg-bold {
  font-family: var(--font-pt-sans-caption);
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.96px;
  color: var(--color-gray-neutral-900);
}

.headline-lg-bold-m {
  font-family: var(--font-manrope);
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.96px;
  color: var(--color-gray-neutral-900);
}

.headline-md-regular {
  font-family: var(--font-pt-sans-caption);
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.72px;
  color: var(--color-gray-neutral-900);
}

.headline-md-bold {
  font-family: var(--font-pt-sans-caption);
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.72px;
  color: var(--color-gray-neutral-900);
}

.headline-sm {
  font-family: var(--font-pt-sans-caption);
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0;
  color: var(--color-gray-neutral-900);
}

.headline-sm-bold {
  font-family: var(--font-pt-sans-caption);
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0;
  color: var(--color-gray-neutral-900);
}

.headline-xs {
  font-family: var(--font-pt-sans-caption);
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
  color: var(--color-gray-neutral-900);
}

.headline-xs-bold {
  font-family: var(--font-pt-sans-caption);
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
  color: var(--color-gray-neutral-900);
}

/* TEXT */

.text-xl {
  font-family: var(--font-pt-sans-caption);
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  color: var(--color-gray-neutral-900);
}

.text-xl-bold {
  font-family: var(--font-pt-sans-caption);
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  color: var(--color-gray-neutral-900);
}

.text-lg {
  font-family: var(--font-pt-sans-caption);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  color: var(--color-gray-neutral-900);
}

.text-lg-bold {
  font-family: var(--font-pt-sans-caption);
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  color: var(--color-gray-neutral-900);
}

.text-md {
  font-family: var(--font-pt-sans-caption);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  /* color: var(--color-gray-neutral-900); */
}

.text-md-bold {
  font-family: var(--font-pt-sans-caption);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: var(--color-gray-neutral-900);
}

.text-sm {
  font-family: var(--font-pt-sans-caption);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  /* color: var(--color-gray-neutral-900); */
}

.text-sm-bold {
  font-family: var(--font-pt-sans-caption);
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: var(--color-gray-neutral-900);
}

.text-xs {
  font-family: var(--font-pt-sans-caption);
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  /* color: var(--color-gray-neutral-900); */
}

.text-xs-bold {
  font-family: var(--font-pt-sans-caption);
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
  color: var(--color-gray-neutral-900);
}

/* ================= */

/* Supporting Text Styles */
.headline-2xl-regular {
  font-family: var(--font-pt-sans-caption);
  font-weight: 400;
  font-size: 72px;
  line-height: 90px;
  letter-spacing: 0;
}

.headline-2xl-bold {
  font-family: var(--font-pt-sans-caption);
  font-weight: 700;
  font-size: 72px;
  line-height: 90px;
  letter-spacing: -0.96px;
  color: var(--color-gray-900);
}

.text-headline-xl {
  font-family: var(--font-manrope);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: var(--color-gray-500);
}

.brr {
  border: 2px solid red;
}
.brr-blue {
  border: 2px solid blue;
}
.brr-white {
  border: 2px solid white;
}

/* Flex center vertically only */
.flex-cent-v {
  display: flex;
  align-items: center; /* vertical alignment */
}

/* Flex center horizontally only */
.flex-cent-h {
  display: flex;
  justify-content: center; /* horizontal alignment */
}

/* Flex center both vertically and horizontally */
.flex-cent-vh {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-cent-vhb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* utilities */
.hidden {
  display: hidden;
}

.visible {
  display: block;
}
